[submodule "src/github.com/cloudfoundry/noaa"]
	path = src/github.com/cloudfoundry/noaa
	url = git@github.com:cloudfoundry/noaa.git
[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = git@github.com:gorilla/websocket.git
[submodule "src/github.com/cloudfoundry/sonde-go"]
	path = src/github.com/cloudfoundry/sonde-go
	url = git@github.com:cloudfoundry/sonde-go.git
[submodule "src/github.com/gogo/protobuf"]
	path = src/github.com/gogo/protobuf
	url = git@github.com:gogo/protobuf.git
[submodule "src/github.com/cloudfoundry/service-metrics"]
	path = src/github.com/cloudfoundry/service-metrics
	url = https://github.com/cloudfoundry/service-metrics
[submodule "src/github.com/codegangsta/cli"]
	path = src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
[submodule "src/github.com/vito/gosub"]
	path = src/github.com/vito/gosub
	url = https://github.com/vito/gosub
